html, body {
    width: 400px;
}

.nav-pills .nav-link {
    border-radius: 0px;
    margin: 2px 2px 0.5px 2px;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #58bf01;
    font-weight: bold;
}

a {
    color: #343a40;
}

a:hover {
    color: #58bf01;
}

* {
    font-family: 'Exo 2', sans-serif;
}

.neo_change,
.gas_change {
    border-radius: 6px;
    color: white;
}

.list-group {
    border-radius: 0px;
    margin: 2px;
}

.list-group-item:focus,
.list-group-item:hover {
    cursor: default;
}

.btn-primary {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-primary:hover {
    color: #fff;
    background-color: #58bf01;
    border-color: #58bf01;
}

.bg-red {
   background: #dd3645 !important;
}

.bg-green {
    background: #58bf01 !important;
 }

 .neo_price, .gas_price {
     font-weight: 700;
 }